*.pyc
*.pyd
*.so
*.exe
dist
build
docs/build
docs/*.h5
docs/source/reference
holopy/propagation/tests/gold/full_data/*.yaml
holopy/scattering/tests/gold/full_data/*.yaml
holopy/scattering/theory/tmatrix_f/S
.coverage
.nfs*
*~
*.swp
*.eggs
.ipynb_checkpoints
HoloPy.egg-info
.DS_Store
docs/.DS_Store
*.so.dSYM
*.libs
*.dll
